@use 'child_theme_variables';

.back-to-top {
    display: none;
}

@media only screen and (min-width: 1440px) {
    .back-to-top {
        display: block;
    }
}

.back-to-top {
    position: fixed;
    bottom: -4rem;  /* Start off-screen */
    left: 40px;
    transition: bottom 0.5s ease, opacity 0.5s ease, visibility 0s 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000; /* Ensure it stays above other content */
    background-color: transparent;
    border: none;
    letter-spacing: 1.2px;
    font-size: child_theme_variables.$font-size-xs;

    & svg {
        margin-bottom: 4px;
    }
}

.back-to-top__btn-wrapper {
    display: flex;
    align-items: flex-end;
    gap: 24px;
}

/* Style when button is visible */
.back-to-top--visible {
    opacity: 1;
    visibility: visible;
    bottom: 4rem; /* Visible and 20px from the bottom */
    transition: bottom 0.5s ease, opacity 0.5s ease, visibility 0s 0s;
}

.back-to-top--no-transition {
    transition: none !important;
}