@use 'child_theme_variables';

.bio-intro-text {
    font-family: child_theme_variables.$font-family-serif;
    line-height: 141%;
    margin-top: 0.438rem;
    p {
        margin-bottom: 1.6rem;
    }
}

@media only screen and (min-width: 1184px) {
    .bio-intro-text {
        display: flex;
        gap: 4rem;
        justify-content: flex-start;
        margin-bottom: 4.938rem;
        margin-top: 2.125rem;
    }

    .intro-wrapper {
        width: clamp(20.25rem, calc(49.61vw - 263.4px), 451px);
    }
}

