@use 'child_theme_variables';

// Mixin for reusable button shadow
@mixin btn-shadow($shadow) {
  box-shadow: $shadow;
}

// Mixin for raised button effect
@mixin raised-btn {
  &:active {
    box-shadow: none !important;
    transform: translateY(2px);
  }
}

.btn {
  border: none;
  box-shadow: none;
  outline: none;
  transition: transform .15s ease, box-shadow .15s ease;
}

// Base button light styles
.btn-light {
  @include btn-shadow(child_theme_variables.$btn-box-shadow);

  &:focus-visible {
    box-shadow: child_theme_variables.$btn-box-shadow;
    outline: 1px solid child_theme_variables.$btn-focus-border-color;
    background-color: child_theme_variables.$light;
  }

  &:hover,
  &:active, &:focus:active {
    background-color: child_theme_variables.$gray-300;
    outline: none;
    @include btn-shadow(child_theme_variables.$btn-hover-shadow);
  }
}

// Raised button specific styles
button.btn.raised {
  @include raised-btn;
}