@use 'child_theme_variables';

.category-dropdown {
    margin-bottom: 1.063rem;
    width: 100%;
    position: relative;
    border-top-left-radius: 2.063rem;
    border-top-right-radius: 2.063rem;
    transition: background-color 0.3s ease;
    & button {
        width: 100%;
        display: flex;
        padding: 17px 15px;
        z-index: 2;
        position: relative;
        background-color: child_theme_variables.$gray-700;
    }

    & button .caret-icon {
        transition: transform 0.3s ease;
    }

    & button .caret-icon.rotated {
        transform: rotate(180deg);
    }

    & button > span {
        margin: 0 auto;
    }

    & .dropdown-toggle::after {
       content: none;
    }
}

.category-dropdown-menu {
    background-color: child_theme_variables.$gray-600;
    position: absolute; /* Remove the menu from document flow */
    top: 100%; /* Position the dropdown directly below the button */
    left: 0;
    visibility: hidden; /* Initially hidden */
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    width: 100%;
    transition: opacity 0.3s ease, max-height 0.3s ease;
    z-index: 1;
    

    &.show-menu {
        visibility: visible;
        opacity: 1;
        max-height: 1000px;
        width: 100%;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
        
        & > :nth-child(-n+3) {
            border-bottom: .5px solid #CFCFCF;
        }

        & .menu-item {
            display: flex;
            width: 100%;
        }

        & .menu-item a {
            width: 100%;
            padding: 17px 15px;
            display: flex;
            align-items: center; 
            justify-content: center; 
        }

        .hidden {
            display: none;
        }   

        .visible {
            display: flex;
        }
    }