.category-dropdown {
    margin-bottom: 1.063rem;
    width: 100%;
    position: relative;
    & button {
        width: 100%;
        display: flex;
        padding: 17px 15px;
        z-index: 2;
        position: relative;
    }

    & button .caret-icon {
        transition: transform 0.3s ease;
    }

    & button .caret-icon.rotated {
        transform: rotate(180deg);
    }

    & button > span {
        margin: 0 auto;
    }

    & .dropdown-toggle::after {
       content: none;
    }
}

.dropdown-menu.show {
    width: 100%;
    border: none;
    border-radius: 5px;
    z-index: 1;
    
    & > :nth-child(-n+2) {
        border-bottom: .5px solid #CFCFCF;
    }

    & .menu-item {
        display: flex;
        width: 100%;
        padding: 17px 15px;
    }

    & .menu-item a {
        width: min-content;
        margin: 0 auto;
    }
}