@use 'child_theme_variables';
@use 'header_navigation';
@use 'sidebar_left';
@use 'footer';
@use 'button';
@use 'image_post';
@use 'container_fluid';
@use 'progress_bar';
@use 'page_transition';
@use 'lazy_load';
@use 'image_grid';
@use 'category_dropdown';
@use 'lightbox';
@use 'back_to_top';
@use './pages/biography_page.scss';
@use './pages/front_page.scss';
@use './header_category_menu.scss';
@use './pages/selected_work_page.scss';
@use './pages/all_work_page.scss';

@font-face {
    font-family: "DIN-Regular";
    src: url(../fonts/DIN-Regular.ttf) (format('truetype'));
    font-weight: normal;
}

@font-face {
    font-family: "DIN-Light";
    src: url(../fonts/din-light.ttf) (format('truetype'));
    font-weight: normal;
}

@font-face {
    font-family: "AbhayaLibre-Regular";
    src: url(../fonts/AbhayaLibre-Regular.ttf) (format('truetype'));
    font-weight: normal;
}

@font-face {
    font-family: "Inter-Regular";
    src: url(../fonts/Inter-Regular.ttf);
    font-weight: normal;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    margin-top: child_theme_variables.$body-margin;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

p {
    margin: 0;
}

.site {
    height: 100%;
    width: 100%;
}

@media only screen and (min-width: 1184px) {

    body {
        margin-top: 0;
    }

    div.content-area {
        padding-left: 6.438rem;
    }
}