// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.

//configuration-variables

$enable-negative-margins: true;

//color-system

// scss-docs-start color-variables
$orange: #D97700;
$blue: #000AC9;
$black: #000000;
// scss-docs-end color-variables

// scss-docs-start gray-color-variables
$gray-100:#EFEFEF;
$gray-200: #E5E5E5;
$gray-300: #D8D7D7;
$gray-400: #848484;
$gray-500: #464646;
$gray-600: #1F1F1F;
// scss-docs-end gray-color-variables

// scss-docs-start theme-color-variables
$primary: $black;
$warning: $orange;
$light: $gray-100;
$dark: $gray-600;
// scss-docs-end theme-color-variables

// Links
//
// Style anchor elements.

$link-color: $primary;
$link-decoration: none;

// Body
//
// Settings for the `<body>` element.

$body-margin: 126.13px;
$body-color: $primary;

// scss-docs-start font-variables
$font-family-base: "DIN-Regular", Arial, sans-serif;
$font-family-serif: "AbhayaLibre-Regular", "Times New Roman", Times, serif;
$font-family-black: "DIN-Black-Regular", Arial, sans-serif;
$font-family-light: "DIN-Light", Arial, sans-serif;
$font-family-sans-serif: "Inter-Regular", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
// scss-docs-end font-variables

// Buttons + Forms

// scss-docs-start form-input-variables
$input-padding-x: 0;
$input-font-family: "DIN-Regular", Arial, sans-serif;
$input-border-color: $primary;
$input-focus-color: $blue;
$input-focus-border-color: $blue;
$input-focus-box-shadow: none;
$input-line-height: 1.2;
$input-placeholder-color: $gray-400;
$input-placeholder-letter-spacing: 0.1em;
// scss-docs-end form-input-variables

//front-page variants

//footer 

$input-placeholder-color-variant: #FFFFFF;
$input-border-color-variant: #FFFFFF;
$btn-background-color-variant: $dark;
$btn-hover-color-variant: #2A2A2A;

// scss-docs-start btn-variables
$btn-padding-x: 2.844em;
$btn-padding-y: 0.75em;
$btn-border-radius: 2.063em;
$btn-box-shadow: 0px 2px 0.8px 0px #00000033;
$btn-letter-spacing: 0.1em;
$btn-line-height: 1.2em;
$btn-font-family: $font-family-base;
$btn-hover-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
$btn-focus-border-color: $blue;
$btn-background-color: $light;
// scss-docs-end btn-variables

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// scss-docs-start font-variables
$line-height-sm: 1.2;
$line-height-lg: 1.7;
$font-size-xs: 0.75rem;
$font-size-xxs: 0.625rem;
$letter-spacing-sm: 0.1em;
// scss-docs-end font-variables


//scss-docs-start category-pill-variables
$pill-font-size: $font-size-xxs;
$pill-bg-color: $light;
$pill-padding-x: 0.813rem;
$pill-padding-y: 0.594rem;
$pill-border-radius: 1.688rem;
$pill-gap: 0.625rem;
//scss-docs-end category-pill-variables

//scss-docs-start gutter-width
$grid-gutter-width: 1.25rem;
$grid-gutter-width-lg: 2.5rem;
////scss-docs-end gutter-width

//scss-docs-start content-image-wrapper-variables
$entry-content-margin-top-sm: 0.625rem;
$entry-content-margin-bottom-sm: 1rem;
$entry-content-margin-top: 0.563rem;
$entry-content-margin-bottom: 1.375rem;
$entry-content-margin-y-lg: 1.5rem;
//scss-docs-end content-image-wrapper-variables

//scss-docs-start category-page-content-image-wrapper-variables
$category-page-content-image-wrapper-gap: 8.625rem;
//scss-docs-end category-page-content-image-wrapper-variables

//scss-docs-start archive-wrapper-variables
$wrapper-padding-top: 3.375rem;
$wrapper-padding-bottom: 5.688rem;
//scss-docs-end archive-wrapper-variables

@import "../assets/bootstrap5/functions.scss";
@import "../assets/bootstrap5/variables.scss";

// scss-docs-start theme-colors-map
$custom-theme-colors: (
  
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);
// scss-docs-end theme-colors-map

// scss-docs-start spacer-variables-maps
$custom-theme-spacers: (
  17: $spacer * 1.063, //17px spacer
  11: $spacer * 0.688, //11px spacer
  56: $spacer * 3.5, //56px spacer
  22: $spacer * 1.375, //22px spacer
  19: $spacer * 1.188, //19px spacer
  20: $spacer * 1.25, //20px spacer
  14: $spacer * 0.875, //14px spacer
  38: $spacer * 2.375, //38px spacer
  40: $spacer * 2.5, //40px spacer
  30: $spacer * 1.875, //30px spacer
  50: $spacer * 3.125, //50px spacer
);

$spacers: map-merge($custom-theme-spacers, $spacers);
// scss-docs-end spacer-variables-maps