
@use 'child_theme_variables';
@use 'header_navigation';
@use 'sidebar_left';
@use 'footer';
@use 'button';
@use 'image_post';
@use 'container_fluid';
@use 'progress_bar';

@font-face {
    font-family: "DIN-Regular";
    src: url(../fonts/DIN-Regular.ttf) (format('truetype'));
    font-weight: normal;
}

@font-face {
    font-family: "AbhayaLibre-Regular";
    src: url(../fonts/AbhayaLibre-Regular.ttf) (format('truetype'));
    font-weight: normal;
}

@font-face {
    font-family: "Inter-Regular";
    src: url(../fonts/Inter-Regular.ttf);
    font-weight: normal;
}

body {
    margin-top: child_theme_variables.$body-margin;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
}

body:is(.home) {

    div.entry-content {
            font-size: $font-size-sm;
            font-family: $font-family-serif;
            max-width: 31rem;
            margin: 0;
    }

    & p {
        margin: 0;
    }
}

@media only screen and (min-width: 1440px) {

    div.content-area {
        padding-left: 3.938rem;
    }

    #index-wrapper {
        padding-top: 3.375rem;
        margin-bottom: 5.188rem;
    }

    body {
        margin-top: 0;
    }
}