@use 'child_theme_variables' as *;

body.home {

    & #wrapper-footer {
        position: absolute;
        top: 100vh;
        width: 100%;
        background-color: rgba(230, 230, 230, 0.7);
        -webkit-backdrop-filter: blur(53px);
        backdrop-filter: blur(53px);
        color: $black;
        font-family: $font-family-light;
        padding-top: 5.625rem;
        font-size: $font-size-sm;
        border-top-left-radius: 0.938rem;
        border-top-right-radius: 0.938rem;
        z-index: 100;
        margin: 0;
    }

    & #wrapper-footer .footer-intro-text {
        text-indent: 3rem;
        max-width: 36.25rem;
        line-height: 20px;
    }

    & #index-wrapper {
        //position: fixed;
    }

    & #wrapper-footer .form-group input {
        background-color: transparent;
    }

    & #email-help-block {
        color: inherit;
    }
}

@media only screen and (min-width: 1440px) {
    
    body.home {

        & .footer-intro-text {
            margin: 0 8.75vw 0 auto;
            text-align: justify;
            font-size: $font-family-base;
        }

        & #wrapper-footer {
            margin: 0;
            padding-top: 2.75rem;
        }

        & .site-footer {
            margin: 7.188rem 0 1.5rem;
            padding: 0;
        }

        #contact-form {
            margin-top: 0
        }
    }
}