@use 'child_theme_variables' as *;
@use 'button_front_page_variant';

body.home {

    & #wrapper-footer {
        position: relative;
        background-color: #DD5902;
        color: #FFFFFF;
        font-family: $font-family-light;
        padding-top: 5.625rem;
        font-size: $font-size-sm;
        border-top-left-radius: 0.938rem;
        border-top-right-radius: 0.938rem;
        z-index: 100;
        margin: 0;
    }

    & #wrapper-footer .footer-intro-text {
        text-indent: 3rem;
        max-width: 36.25rem;
        line-height: 20px;
    }

    & .form-control {
        border-bottom: 1px solid #FFFFFF;
        color: #FFFFFF;
    }

    & #index-wrapper {
        //position: fixed;
    }

    & #wrapper-footer .form-group input {
        background-color: transparent;
    }

    & ::placeholder {
        color: #FFFFFF;
    }

    & #email-help-block {
        color: #FFFFFF;
    }
}

@media only screen and (min-width: 1440px) {
    
    body.home {

        & .footer-intro-text {
            margin: 0 8.75vw 0 auto;
            text-align: justify;
            font-size: $font-family-base;
        }

        & #wrapper-footer {
            margin: 0;
        }
    }
}