@use 'child_theme_variables';

.nav-category-menu {
    display: none;
    white-space: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    padding: 13px 20px;
    border-block: 0.5px solid #848484;
    gap: 12px;
    font-size: child_theme_variables.$font-size-sm;
    letter-spacing: 1.4px;
    line-height: 100%;
}

.nav-category-menu::-webkit-scrollbar {
    display: none;
}

.nav-category-menu li button {
    padding: 8px 18px;
    border-radius: 36px;
    border: none;
}

.btn-navbar-category {
  border: none;
  background-color: #E6E6E6;
  color: inherit;
  transition: background-color 0.15s ease-in-out;

  // TEMPORARY touch/click effect (optional, can be removed)
  &:focus,
  &:focus-visible {
    outline: 1px solid child_theme_variables.$btn-focus-border-color;
    background-color: #D8D7D7;
  }

   &:hover {
    background-color: #E6E6E6;
    color: inherit;
  }

  // Remove all :active styling to avoid mobile scroll effect
  &:active {
    background-color: #E6E6E6 !important;
    color: inherit !important;
  }

  // Selected button (set via JS only)
  &.active {
    background-color: #807F7F !important;
    color: #FFFFFF !important;
  }

  // Mobile fixes
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
  touch-action: manipulation;
}

body.blog {
    .nav-category-menu {
        display: flex;
    }
}