@use 'child_theme_variables';

.navbar-nav {
    white-space: nowrap;
    overflow-x: auto;
    flex-direction: row;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.navbar-nav::-webkit-scrollbar {
    display: none;
}

.navbar-nav li a {
    font-family: child_theme_variables.$font-family-base;
    line-height: 19.33px;
    letter-spacing: 1.6px;
    padding: child_theme_variables.$nav-link-padding-x;
    display: block;
}

#main-nav {
    border-bottom: 0.5px solid #848484;
}

.custom-logo-link {
    padding-inline-start: 1em;
    display: block;
    padding-bottom: 1.25em;
}

header {
    div.container-fluid {
        padding: 1.875rem 0.25rem 0 0.25rem;
    }

    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.scrolled-down{
    transform:translateY(-100%); transition: all 0.5s ease-in-out;
  }

.scrolled-up{
    transform:translateY(0); transition: all 0.5s ease-in-out;
  }

@media only screen and (min-width: 1400px) {
    .custom-logo-link {
        padding-bottom: 3.375em;
        padding-inline-start: 0;
    }
}