@use 'child_theme_variables';

.navbar-nav {
    white-space: nowrap;
    overflow-x: auto;
    flex-direction: row;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.navbar-nav li {
    font-family: child_theme_variables.$font-family-base;
}


.navbar-nav::-webkit-scrollbar {
    display: none;
}

.navbar-nav li a, .navbar-nav li.menu-item-email {
    line-height: 19.33px;
    letter-spacing: 1.6px;
    padding: child_theme_variables.$nav-link-padding-x;
    display: block;
}

.navbar-nav li.menu-item-email {
    color: #777777;
}

.navbar-nav li.menu-item-email svg {
    margin-right: 11px;
}

#main-nav {
    border-bottom: 0.5px solid #848484;
    transition: transform 0.1s ease-out;
    will-change: transform;
}

.custom-logo-link {
    padding-inline-start: 1em;
    display: block;
    padding-bottom: 1.25em;
}

header {
    div.container-fluid {
        padding: 1.875rem 0.25rem 0 0.25rem;
    }

    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

@media only screen and (min-width: 1440px) {
    .custom-logo-link {
        padding-bottom: 3.375em;
        padding-inline-start: 0;
    }

    #main-nav {
        display: none;
    }
}

body.category-selected-work .current-menu-item {
    font-family: child_theme_variables.$font-family-black;
}

body.blog .current-menu-item {
    font-family: child_theme_variables.$font-family-black;
}