@use 'child_theme_variables';

.nav-category-menu {
    display: none;
    white-space: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    padding: 13px 20px;
    border-block: 0.5px solid #848484;
    gap: 12px;
    font-size: child_theme_variables.$font-size-sm;
    letter-spacing: 1.4px;
    line-height: 100%;
}

.nav-category-menu::-webkit-scrollbar {
    display: none;
}

.nav-category-menu li button {
    padding: 8px 18px;
    border-radius: 36px;
    background-color: #E6E6E6;
    border: none;
}

.btn-navbar-category {
  &:focus-visible {
    box-shadow: child_theme_variables.$btn-box-shadow;
    outline: 1px solid child_theme_variables.$btn-focus-border-color;
    background-color: child_theme_variables.$btn-background-color;
  }

  &:hover,
  &:active, &:focus:active {
    background-color: child_theme_variables.$gray-300;
    outline: none;
  }

   &.active {
    background-color: #807F7F;
    color: #FFFFFF;
  }
}

.btn-navbar-category {
  -webkit-tap-highlight-color: transparent;
}

body.blog {
    .nav-category-menu {
        display: flex;
    }
}