.image-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.938rem;
    transition: opacity 0.5s ease-in-out;
}

.image-grid-container:has(article:hover) article:not(:hover) {
    opacity: 0.7;
}

@media only screen and (min-width: 1400px) {
    .image-grid-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 2.438rem;
    }
}


