@use 'child_theme_variables';

.category-pill-container {
    display: none;
}

.entry-content p {
    font-size: child_theme_variables.$font-size-xs;
    margin-top: 1.125rem;
}

/*.entry-content p {
    margin-top: child_theme_variables.$entry-content-margin-top;
    margin-bottom: child_theme_variables.$entry-content-margin-bottom;
    font-size: child_theme_variables.$font-size-xs;
}*/

@media only screen and (min-width: 1184px) {

    /*.entry-content p {
        margin: child_theme_variables.$entry-content-margin-y-lg 0;
    }*/

    .category-pill-container {
        display: flex;
        gap: child_theme_variables.$pill-gap;
    }
}