/* Basic styles for the parent and child elements */
#image-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    position: relative;
  }
  
  article {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  #image-grid-container:hover article {
    opacity: 0.6;  /* This is the default opacity for the non-hovered images */
  }
  
  #image-grid-container:hover article:hover {
    opacity: 1;  /* The hovered image retains full opacity */
  }
  
  #image-grid-container:not(:hover) article {
    opacity: 1;  /* When the parent is not hovered, all images have opacity 1 */
  }

@media only screen and (min-width: 1440px) {
    #image-grid-container {
        gap: 3.5rem;
        margin-top: 2.125rem;
    }
}

@media only screen and (min-width: 768px) {
    #image-grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1900px) {
    #image-grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

