
article.format-image.fade-init {
    visibility: hidden;
    opacity: 0;
}

article.format-image.fade-in {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease, visibility 0s 0s;
}


body.home .footer-intro-text {
    visibility: hidden;
    opacity: 0;
}


body.home .footer-intro-text.fade-in {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease, visibility 0s 0s;
}