.lightbox {
    display: none;
    position: fixed;
    inset: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background-color: white;

    &.open {
        display: block;
    }
}

.lightbox.open {
    display: block;
}

.lightbox__content {
    display: flex;

    & article {
        flex-shrink: 0;
        width: 100%;
    }
}